DATABASE_URL=mysql://TUSUARIO:TUPASWWORD@localhost:3306/CanchasEV
PORT=3000
CORS_ORIGIN=http://localhost:5173(TU LOCAL HOST)
JWT_SECRET=asdasjtr1023n2j3n1j23n1j23n1j23n1j (CODIGO ALEATORIO)
NODE_ENV=development